
    body {
        background-color: #f4e4bc;
        background-image: url('a2.png');
        background-size: cover;
    }
    .container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        border: 8px solid black;
        border-radius: 20px;
        align-items: center;
    }

    .atributo {
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

    label {
        width: 80px;
        font-weight: bold;
    }

    .esferas {
        display: flex;
        gap: 10px;
    }

    .esfera {
        width: 20px;
        height: 20px;
        border: 2px solid #333;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
    }

    .preenchida {
        background-color: #333 !important;
        
    }
    
    #pontos {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
    }
